@use 'abstracts/variables' as *;
@use 'colors/color-matrix' as *;
@use 'abstracts/mixins' as *;

.modal {
  @include modal-base-layout;

  &__header {
    position: relative;
    padding-block: 36px 16px;
    text-align: center;
    background: url($modal-header-bg);
    border-radius: 16px 16px 0px 0px;
  }

  &__picture {
    position: absolute;
    top: -160px;
    width: 314px;
    height: 200px;
    transform: translateX(-50%);
  }

  &__button-close {
    position: absolute;
    top: 24px;
    right: 24px;
  }

  &__title {
    color: $modal-header-title;
  }
}
