@use 'color-palette' as *;

// * Typography
$base-font-color: $g-800;
$base-heading-color: $g-950;

// * Icon-button
$icon-button-bg--primary: $green-500;
$icon-button-bg--primary-hover: $green-400;
$icon-button-bg--primary-active: $green-700;

$icon-button-bg--secondary: $g-100;
$icon-button-bg--secondary-hover: $g-50;
$icon-button-bg--secondary-active: $g-100;

$icon-button-bg--disabled: $g-600;

$icon-button-outline: $orange-500;
