%button-l {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
}

%button-m {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

%button-s {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
}

%body-lg {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}
